{% extends 'base.html' %}
{% load static %}
{% block title %} Gestion des employees {% endblock %}

{% block layout-title %}Gestion des employee{% endblock %}

{% block content %}

    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    Liste des employés
                </div>
                <div class="card-body">
                    <table id="basicExample" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Position</th>
                            <th>Profile</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for emp in employees %}
                            <tr>
                                <td>{{ emp.first_name }} {{ emp.last_name }}</td>
                                <td>{{ emp.group_salary }}</td>
                                <td>
                                    <a href="{% url 'profile' emp.id %}"><i class="icon-user" title="Voir le profil"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}