{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}

{% block layout-title %}Profile de {{ salary.first_name }} {{ salary.last_name }}{% endblock %}

{% block content %}
    {% load static %}
    <style>
    .bg-yellow{
        background-color: #f0d000;
        color:#f0d000;
    }
    .bg-brown{
        background-color: #8a8b8c !important;
        color: #8a8b8c;
    }
    .bg-blue{
        background-color: blue !important;
        color: #befdff !important;
    }
    .bg-break{
        background-color: #559046 !important;
        color: whitesmoke !important;
    }
    </style>
    <div class="row gutters" style="margin-top: 20px;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-lg-2">
                            <img src="{% static '' %}{{ salary.picture }}" alt="Image de profile" class="img-responsive"
                                 height="100" align="right" style="display: block; margin: auto">
                        </div>
                        <div style="margin-top: 5px">
                            <h6>Id pointeusse: <b class="text-primary">{{ salary.id_salary_finger }}</b></h6>
                            <h6>Prenom: <b class="text-primary">{{ salary.first_name }}</b></h6>
                            <h6>Nom: <b class="text-primary">{{ salary.last_name }}</b></h6>
                            <h6>Group: <b class="text-primary">{{ salary.group_salary }}</b></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row gutters" style="margin-top: 20px;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-head text-center">
                    {% if date1 %}
                        <h6 style="margin: 10px">Pointage de {{ date1.date }} à {{ date2.date }}</h6>
                    {% else %}
                        <h6></h6>
                    {% endif %}
                    <div class="col-12">
                        <form action="{% url 'profile' salary.id %}" method="post"> {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <input type="date" class="form-control" name="date1" id="date1">
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <input type="date" class="form-control" name="date2" id="date2">
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <input type="submit" class="form-control btn btn-dark btn-lg" value="Filtrer">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                <div class="table-responsive" >
                    <div class="img-circle bg-danger text-danger" style="width: 20px; text-align: center;display: inline-block;margin-right: 5px">0</div>Absent
                    <div class="img-circle bg-yellow" style="width: 20px; text-align: center;display: inline-block;margin-right: 5px">0</div>Retard
                    <div class="img-circle bg-orange" style="color:orange;width: 20px; text-align: center;display: inline-block;margin-right: 5px">0</div>tôt hors
                    <div class="img-circle bg-brown" style="width: 20px; text-align: center;display: inline-block;margin-right: 5px">0</div>incomplet
                    <div class="img-circle bg-blue" style="width: 20px; text-align: center;display: inline-block;margin-right: 5px; color: blue !important;">0</div>Férié
                    <div class="img-circle bg-break" style="width: 20px; text-align: center;display: inline-block;margin-right: 5px; color: #559046 !important;">0</div>jour de congé
                    <div class="img-circle bg-success" style="width: 20px; text-align: center;display: inline-block;color: #00BBC3;margin-right: 5px">0</div>à l'heure
                    <button class="float-right btn btn-info btn-sm" id="print">print</button>
                        <br>
                        <br>
                    <table class="table table-hover m-0 table-bordered" id="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            {% if absent.permanence %}
                                <th class="text-center">{{ absent.time_enter_morning }} -> {{ absent.time_out_evening }}</th>
                            {% else %}
                                <th class="text-center">{{ absent.time_enter_morning }} -> {{ absent.time_out_morning }}</th>
                                <th class="text-center">{{ absent.time_enter_evening }} -> {{ absent.time_out_evening }}</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if error != 'false' %}
                            <div class="alert alert-danger text-center">
                                <strong class="text-danger">{{ error }}</strong>
                            </div>
                        {% else %}
                            {% if absent.absent.permanence %}
                                {% for i in attendance %}
                                    <tr>
                                        <td>{{ i.date }}</td>
                                        <td class="text-center  text-dark {{ i.color }}">{{ i.enter }}
                                            {% if i.color == "bg-danger" %} Absent {% else %} | {% endif %}
                                            {% if i.color == "bg-brown" %} - {% else %} {{ i.out }} {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                {% for i in attendance %}
                                    <tr>
                                        <td>{{ i.date }}</td>
                                    {% if absent.permanence %}
                                        <td class="text-center  text-dark {{ i.color }}">
                                            {% if i.color == "bg-danger" %}
                                                Absent
                                            {% elif  i.color == "bg-break" %}
                                                jour de congé
                                            {% elif  i.color == "bg-brown" %}
                                                {{ i.enter }} | -
                                            {% elif i.color == "bg-blue" %}
                                                    Jour Férié
                                            {% else %}
                                                {{ i.enter }} | {{ i.out }}
                                            {% endif %}
                                        </td>
                                    {% else %}
                                        {% if i.color == "bg-blue" %}
                                            <td  colspan="2" class="text-center  text-dark  {{ i.color_min }} {{ i.color }}">
                                                    Jour Férié
                                            </td>
                                        {% elif i.color_min == "bg-brown" %}
                                        <td  colspan="2" class="text-center  text-dark  {{ i.color_min }} {{ i.color }}">
                                                {{ i.enter1 }} - {{ i.out1 }} | {{ i.enter2 }} - {{ i.out2 }}
                                        </td>
                                        {% else %}
                                            <td class="text-center  text-dark  {{ i.color_min }} {{ i.color }}">
                                                 {% if i.color == "bg-danger" %}
                                                     Absent
                                                 {% elif  i.color == "bg-break" %}
                                                    jour de congé
                                                {% else %}
                                                    {{ i.enter1 }} | {{ i.out1 }}
                                                {% endif %}
                                            </td>
                                            <td class="text-center  text-dark {{ i.color_max }} {{ i.color }}">
                                                {% if i.color == "bg-danger" %}
                                                    Absent
                                                {% elif  i.color == "bg-brown" %}
                                                    {{ i.enter }} | -
                                                {% elif  i.color == "bg-break" %}
                                                    jour de congé
                                                {% else %}
                                                    {{ i.enter2 }} | {{ i.out2 }}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td>Résumé</td>
                                    <td colspan="2" class="text-center">
                                        <table class="table table-bordered">
                                            <tr>
                                                <td>Heures</td>
                                                <td>{{ total_hours.0 }}</td>
                                            </tr>
                                            <tr>
                                                <td>Minutes</td>
                                                <td>{{ total_hours.1 }}</td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger">Absent</td>
                                                <td><b>{{ attendence_counter.absent }}</b></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-orange">tôt hors</td>
                                                <td><b>{{ attendence_counter.early }}</b></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-yellow" style="color: #0b1017 !important;">Retard</td>
                                                <td><b>{{ attendence_counter.late }}</b></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script>
        $(function() {
            $('#print').click(function(){
                $('#table').printThis();
            });
        });
    </script>
{% endblock %}