{% extends 'base.html' %}
{% load static %}
{% block title %} Rapport {% endblock %}

{% block layout-title %}Rapport{% endblock %}

{% block content %}
    {% load static %}
    <style>
    .bg-yellow{
        background-color: #f0d000;
        color:#f0d000;
    }
    .bg-brown{
        background-color: #8a8b8c !important;
        color: #8a8b8c;
    }
    .bg-blue{
        background-color: blue !important;
        color: #befdff !important;
    }
    .bg-break{
        background-color: #559046 !important;
        color: whitesmoke !important;
    }
    .tbl{
    	width:100%;
    	overflow: scroll
    }
    td{
    	min-width: 100px !important;
    	padding: 0 !important;
    	text-align:center
    }
    td > div{
    	heigth:1200px !important;
    	padding: 10px
    }
    </style>
    <div class="row gutters" style="margin-top: 20px;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">

                    {% if date1 %}
                        <h6 style="margin: 10px">Pointage de {{ date1.date }} à {{ date2.date }}</h6>
                    {% else %}
                        <h6></h6>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <div class="row gutters" style="margin-top: 20px;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-head text-center">
                    <br>
                        {% if error %}
                            <div class="alert alert-danger">
                                <b class="text-danger">{{ error }}</b>
                            </div>
                        {% endif %}
                    <div class="col-12">
                        <form action="{% url 'reports' %}" method="post"> {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <select name="group" id="group" class="form-control">
                                    	<option value="None">Tout</option>
                                        {% for group in groups %}
                                            <option value="{{ group.id }}">{{ group }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <input type="date" class="form-control" name="date1" id="date1">
                                </div>
                                <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <input type="date" class="form-control" name="date2" id="date2">
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <input type="submit" class="form-control btn btn-dark btn-lg" value="Filtrer">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="table-responsive" >
                    <div class="img-circle bg-danger text-danger" style="width: 20px; text-align: center;display: inline-block;margin-right: 5px">0</div>Absent
                    <div class="img-circle bg-yellow" style="width: 20px; text-align: center;display: inline-block;margin-right: 5px">0</div>Retard
                    <div class="img-circle bg-orange" style="color:orange;width: 20px; text-align: center;display: inline-block;margin-right: 5px">0</div>tôt hors
                    <div class="img-circle bg-brown" style="width: 20px; text-align: center;display: inline-block;margin-right: 5px">0</div>incomplet
                    <div class="img-circle bg-blue" style="width: 20px; text-align: center;display: inline-block;margin-right: 5px; color: blue !important;">0</div>Férié
                    <div class="img-circle bg-break" style="width: 20px; text-align: center;display: inline-block;margin-right: 5px; color: #559046 !important;">0</div>jour de congé
                    <div class="img-circle bg-success" style="width: 20px; text-align: center;display: inline-block;color: #00BBC3;margin-right: 5px">0</div>à l'heure
                    <button class="float-right btn btn-info btn-sm" id="print">print</button>
                        <br>
                        <br>
                        <div class="tbl">
                        <table class="table table-hover table-bordered datatable" id="table" >
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Group</th>
                                {% for date in dates %}
                                    <th>{{ date }}</th>
                                {% endfor %}
                            </tr>

                            </thead>
                            <tbody>

                                {% for pointage in pointages %}
                                    <tr>
                                        <td>{{ pointage.0.salary }}</td>
                                        <td>{{ pointage.0.salary.group_salary }}</td>
                                        {% for single in pointage %}
                                        
                                        {% if forloop.last %}
                                           	<td>
                                           		<p><small>total hours: {{ single.0.0 }}</small></p>
                                           		<p><small>total Absent: {{ single.1.absent }}</small></p>
                                           	</td>
		                                 {% else %}
		                                            {% if single.color %}
		                                                {% if single.color == 'bg-blue' %}
		                                                    <td class="{{ single.color }} text-center">Jour Férié</td>
		                                                {% elif single.color == 'bg-danger' %}
		                                                    <td class="{{ single.color }} text-center">Absent</td>
														{% elif single.color == 'bg-break' %}
															<td class="{{ single.color }} text-center" >Jour de conge</td>
		                                                {% else %}
		                                                    <td class="{{ single.color }} text-center">{{ single.enter }} - {{ single.out }}</td>
		                                                {% endif %}
		                                            {% else %}
		                                                {% if single.color == 'bg-blue' %}
		                                                    <td class="{{ single.color }} text-center">Jour Férié</td>
		                                                {% elif single.color == 'bg-danger' %}
		                                                    <td class="{{ single.color }} text-center">Absent</td>
		                                                {% else %}
		                                                    {% if single.color_min == "bg-brown" %}
		                                                        <td class="{{ single.color_min }} text-center" style="color:black">{{ single.enter1 }} - {{ single.out1 }}</td>
		                                                    {% else %}
		                                                    <td width="200" style="padding: 0">
		                                                        <div class="{{ single.color_min }} text-center double" style="color: #000;">{{ single.enter1 }} - {{ single.out1 }}</div>
		                                                        <div class="{{ single.color_max }} text-center double">{{ single.enter2 }} - {{ single.out2 }}</div>
		                                                    </td>
		                                                    {% endif %}
		                                                    
				                                            {% endif %}
		                                                {% endif %}
                                                
                                         {% endif %}
                                            
                                        {% endfor %}
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script>
        $(function() {
            $('#print').click(function(){
                $('#table').printThis();
            });
        });
    </script>
{% endblock %}