<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Unify Admin Panel"/>
    <meta name="author" content="Bootstrap Gallery"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <title>{% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <!-- Common CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'fonts/icomoon/icomoon.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>

</head>
<body>

<!-- BEGIN .app-wrap -->
<div class="app-wrap">
    <!-- BEGIN .app-heading -->
    <header class="app-header">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-8">
                    <div class="logo-block">
                        <a href="{% url 'home-page' %}" class="logo">
                            <img src="{% static 'img/unify.png' %}" alt="Unify Admin Dashboard">
                        </a>
                        <a class="mini-nav-btn" href="#" id="app-side-mini-toggler">
                            <i class="icon-sort"></i>
                        </a>
                        <a href="#app-side" data-toggle="onoffcanvas" class="onoffcanvas-toggler" aria-expanded="true">
                            <i class="icon-chevron-thin-left"></i>
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-4">
                    <ul class="header-actions">
                        <li class="dropdown">
                            <a href="#" id="userSettings" class="user-settings" data-toggle="dropdown"
                               aria-haspopup="true">
                                <span class="user-name text-truncate">Abigail Johnson</span>
                                <img class="avatar" src="{% static 'img/user.png' %}" alt="User Thumb">
                                <i class="icon-chevron-small-down"></i>
                            </a>
                            <div class="dropdown-menu lg dropdown-menu-right" aria-labelledby="userSettings">
                                <div class="logout-btn">
                                    <a href="login.html" class="btn btn-primary">Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- END: .app-heading -->
    <!-- BEGIN .app-container -->
    <div class="app-container">

        <!-- BEGIN .app-side -->
        <aside class="app-side fixed" id="app-side">
            <!-- BEGIN .side-content -->
            <div class="side-content ">
                <!-- BEGIN .user-profile -->
                <div class="user-profile">
                    <img src="{% static 'img/user.png' %}" class="profile-thumb" alt="User Thumb">
                    <h6 class="profile-name">Abigail Johnson</h6>
                </div>
                <!-- END .user-profile -->
                <!-- BEGIN .side-nav -->
                <div class="sidebarNavScroll">
                    <nav class="side-nav">
                        <!-- BEGIN: side-nav-content -->
                        <ul class="unifyMenu" id="unifyMenu">
                            <li>
                                <a href="{% url 'home-page' %}">
											<span class="has-icon">
												<i class="icon-laptop_windows"></i>
											</span>
                                    <span class="nav-title">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="has-arrow" aria-expanded="false">
											<span class="has-icon">
												<i class="icon-adjust2"></i>
											</span>
                                    <span class="nav-title">Salaries</span>
                                </a>
                                <ul aria-expanded="false">
                                    <li>
                                        <a href="{% url 'employees-home' %}">Liste des employés</a>
                                        <a href="{% url 'reports' %}">Rapports</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- END: side-nav-content -->
                    </nav>
                </div>
                <!-- END: .side-nav -->
            </div>
            <!-- END: .side-content -->
        </aside>
        <!-- END: .app-side -->

        <!-- BEGIN .app-main -->
        <div class="app-main">
            <!-- BEGIN .main-heading -->
            <header class="main-heading">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="page-icon">
                                <i class="icon-layers"></i>
                            </div>
                            <div class="page-title">
                                <h5>{% block layout-title %} {% endblock %}</h5>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        </div>
                    </div>
                </div>
            </header>
            <!-- END: .main-heading -->
            <!-- BEGIN .main-content -->
            <div class="main-content">

                {% block content %}
                {% endblock %}

            </div>
            <!-- END: .main-content -->
        </div>
        <!-- END: .app-main -->

    </div>
    <!-- END: .app-container -->
    <!-- BEGIN .main-footer -->
    <footer class="main-footer fixed-btm">
        Copyright Ismail Aidar 2018.
    </footer>
    <!-- I.A -->
    <!-- END: .main-footer -->
</div>
<!-- END: .app-wrap -->

<!-- jQuery first, then Tether, then other JS. -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/tether.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/unifyMenu/unifyMenu.js' %}"></script>
<script src="{% static 'vendor/onoffcanvas/onoffcanvas.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>

<!-- News ticker -->
<script src="{% static 'vendor/newsticker/newsTicker.min.js' %}"></script>
<script src="{% static 'vendor/newsticker/custom-newsTicker.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'vendor/slimscroll/slimscroll.min.js' %}"></script>
<script src="{% static 'vendor/slimscroll/custom-scrollbar.js' %}"></script>

<!-- Data Tables -->
<script src="{% static 'vendor/datatables/dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap.min.js' %}"></script>
<!-- Custom Data tables -->
<script src="{% static 'vendor/datatables/custom/custom-datatables.js' %}"></script>
<script src="{% static 'vendor/datatables/custom/fixedHeader.js' %}"></script>

<!-- Common JS -->
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/printThis.js' %}"></script>

</body>

</html>