{% extends 'base.html' %}

{% block content %}
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="stats-widget">
                        <div class="stats-widget-body">
                            <!-- Row start -->
                            <ul class="row no-gutters mb-3">
                                <li class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                                    <div class="stats-widget-header">
                                        <i class="icon-user"></i>
                                    </div>
                                </li>
                                <li class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                                    <h6 class="title">Employees</h6>
                                    <h4 class="total">59</h4>
                                </li>
                            </ul>
                            <!-- Row end -->
                            <div class="progress sm" style="margin-bottom: 5px">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%"
                                     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <a href="{% url 'employees-home' %}" >Gérer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}